%p
  Ruby White Belts is a community based approach to learning about full stack web development.  We use the term "White Belt" to indicate that we continually approach our problems with a blank slate, ie, we always approach from the position of un-knowingness.  
%p
  A series of recurring events will be held to help you progress, learn and grow your ability to build things with open source web development tools like Ruby, Rails, Javascript and assorted goodies.
%p 
  If you have questions, comments or ideas, please contact john@rubywhitebelts.com.