.progress.ten
  %span.meter{:style => "width:50%;"}
.radius.progress.ten
  %span.meter{:style => "width:50%;"}
.round.progress.success.ten
  %span.meter{:style => "width:50%;"}
.radius.progress.alert.ten
  %span.meter{:style => "width:50%;"}
.round.secondary.progress.ten
  %span.meter{:style => "width:50%;"}
.nice.secondary.progress
  %span.meter{:style => "width:50%;"}
%div{style: "display:inline;"}
  %h1{style: "display:inline; vertical-align: middle;"}
    some text in here
%div{style: "display:inline;"}
  = link_to "delete", "#", :method => :delete, class: "button tiny alert round", style: "margin: auto auto;"