<fieldset class="toggle">
  <input id="view" type="checkbox" checked />
  <label for="view" onclick="">Wireless:</label>
  <span class="toggle-button"></span>
</fieldset>

<i class="foundicon-mail"></i></li>
<i class="foundicon-calendar"></i></li>