%h1.center
  Ruby White Belts
%h3.subheader.center
  A Social Approach
%h5.subheader.center
  to 
%h3.subheader.center
  Full Stack Web Engineering
.center  
  = link_to "Checkout Some Belts !!", belts_path, :class => " button radius large center success"