%h6
  - disclaimer
%p
  This is a real email sent by john@rubywhitebelts.com, I'm still learning about how to personalize email, send it to large groups and not be spammy.  I don't yet know how to include an unsubscribe link but I figured I needed to promote events.  If this email rubs you the wrong way, I'm very sorry, just respond with unsubscribe in the message line and I'll make sure you receive no further ruby white belts traffic.
