%h5
  \- disclaimer
%p
  This is a real email sent by john@rubywhitebelts.com, I'm still learning about how to personalize email, send it to large groups and not be spammy.  Shortly I will build an unsubscribe link but in the meantime, I need to let people know about events.  If this email rubs you the wrong way, I'm very sorry, just respond with unsubscribe in the message line and I'll make sure you receive no further ruby white belts traffic.
