!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
  %body
    %h3 Hi #{@user.first_name} !!
    %p= @message.body
    %p  Cheers, John, 
    %p = mail_to "john@rubywhitebelts.com"
    = render :partial => "disclaimer"