<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.first_name %></h1>
    <p>
      Someone has viewed all the belts on the <%= Rails.env %> application
    </p>
  </body>
</html>