- if @events.empty?
  = render :partial => "noevents"
- if @events
  = render :partial => "event", :collection => @events    
- if logged_out? 
  %h5.center
    = link_to "Please Log in via LinkedIn to RSVP for Events ", "/auth/linkedin"