/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "foundation";
@import "general_foundicons";

body {
  background: url(straws_@2X.png)
}

.center {
  text-align:center;
}

.margined {
  margin: 2em auto;
}

.alert_margined {
  margin: .2em auto;
}

.right {
  float: right;
}

.inline {
  display: inline;
}

.pointer {
  cursor: pointer;
}

.padded {
  padding: 1em;
}

.half-width {
  width: 50%;
}

.middle {
  vertical-align:middle;
}