%li{"data-challenge-id" => challenge.id}
  %h4.subheader.inline
    #{challenge.description}
  - if ! current_user.completions.find_by_challenge_id(challenge.id)
    %i.foundicon-idea.large.has-tip.tip-top{:title => "Attend an event to learn how to do these fundamental things!"}
  - if ! current_user.completions.find_by_challenge_id(challenge.id) && admin?
    %i.pointer.foundicon-checkmark.large.tool{"data-action" => "COMPLETE", "data-description" => challenge.description, "data-challenge-id" => challenge.id , "data-belt-id" => @belt.id, }
  - if current_user.completions.find_by_challenge_id(challenge.id)
    %span.radius.success.label Complete!
      
  