%div{style: "width: 90%; margin: 0 auto;"}
  .nice.secondary.progress
    %span.meter{:style => "width:100%;"}
  %h1.center
    #{@belt.title} White Belt Progress: #{status(@completions)}%
  .nice.progress.success
    %span.meter{:style => "width:#{status(@completions)}%;"}
  %div{style: "width: 70%; margin: 0 auto;"}  
    %ol
      - @belt.challenges.each do |challenge|
        %li
          %h4.subheader
            #{challenge.description}
            - if current_user.completions.find_by_description(challenge.description)
              %span.radius.success.label
                Complete!
            - if ! current_user.completions.find_by_description(challenge.description)
              %span.alert.radius.label.round.has-tip.tip-top{:title => "Do or do not, there is no try..", }
                Incomplete
  .nice.secondary.progress
    %span.meter{:style => "width:100%;"}