%div{style: "width: 90%; margin: 0 auto;"}
  .nice.secondary.progress
    %span.meter{:style => "width:100%;"}
  %div#progress
    = render :partial => "progress", :locals => { :belt => @belt, :user => current_user} 
  %div{style: "width: 70%; margin: 0 auto;"}  
    %ol#challenges
      = render :partial => "layouts/challenge", :collection => @belt.challenges, :locals => { :belt => @belt, :user => current_user}
  .nice.secondary.progress
    %span.meter{:style => "width:100%;"}
  .center
    = link_to "View Current Events", events_path, :class => "button success small center radius"