.reveal-modal.xlarge.expand{:id => "aboutModal"}
  %div{style: "width: 90%; margin: 0 auto;"}
    %h2.subheader
      Who
    %p
      Ruby White Belts is a community-based approach to learning about full stack web development.  We are mostly beginning full-stack web engineers who have participated in 
      %a{href: "http://www.devbootcamp.com", target: "new"}@devbootcamp.
    %h2.subheader
      What
    %p
      A social community that is focused on real-time, live coded web engineering.  If you want to learn, we will teach you.  
    %h2.subheader
      When
    %p
      Weekly
    %h2.subheader
      Where
    %p
      Usually Parisoma or in the near future, Dev Bootcamp HQ.
    %h2.subheader
      Why
    %p
      Because life is short, Entrepreneurship is fun and learning to manipulate the inter-webs is probably the single strongest job skill of the future.  
    %h4.subheader
      Questions, Comments or Ideas ? 
      %a{href: "mailto:john@rubywhitebelts.com"}john@rubywhitebelts.com
          