.row
  .eight.columns.centered
    .margined.center
      = link_to "Ruby White Belts is a Community Service Provided by http://cloudcitydevelopment.com", "http://cloudcitydevelopment.com", :target => "new"