%h1.center
  #{@belt.title} White Belt Progress: #{belt_progress(@user.id, @belt.id)}%
.nice.progress.success{"data-belt-progress" => @belt.id}
  %span.meter{:style => "width:#{belt_progress(@user.id, @belt.id)}%;"}